<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/moil.css">
	</head>
	<body>
		{{ content }}
		{% if page.next or page.prev %}
			<p style="text-align: center">
				{% if page.prev %}<a href="{{ page.prev }}">Previous</a>{% endif %}
				{% if page.next and page.prev %} | {% endif %}
				{% if page.next %}<a href="{{ page.next }}">Next</a>{% endif %}
			</p>
		{% endif %}
		{% assign breadcrumbcount = page.breadcrumb | size %}
		{% if breadcrumbcount != 0 %}
			<footer>
				<hr/>
				<a href="{{ page.breadcrumb[0].url }}">{{ page.breadcrumb[0].name }}</a>
			</footer>
		{% endif %}
	</body>
</html>
